workflows/day1_scheme_explorer.json
{
  "name": "Day 1 - Scheme Explorer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "scheme-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "scheme-search-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-name-not-empty",
              "leftValue": "={{ $json.query.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://app2.mfapis.club/api/v2/scheme",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.query.name }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Search Schemes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mf-engine-api-cred",
          "name": "MF Engine API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-scheme-id",
              "name": "scheme_id",
              "value": "={{ $json[0].scheme_id }}",
              "type": "string"
            },
            {
              "id": "assign-scheme-name",
              "name": "scheme_name",
              "value": "={{ $json[0].scheme_name }}",
              "type": "string"
            },
            {
              "id": "assign-amc-name",
              "name": "amc_name",
              "value": "={{ $json[0].amc_name }}",
              "type": "string"
            },
            {
              "id": "assign-category",
              "name": "category",
              "value": "={{ $json[0].category }}",
              "type": "string"
            },
            {
              "id": "assign-expense",
              "name": "expense_ratio",
              "value": "={{ $json[0].expense_ratio }}",
              "type": "number"
            },
            {
              "id": "assign-aum",
              "name": "aum_cr",
              "value": "={{ $json[0].aum_cr }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "includeBinaryData": false
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Extract Top Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://app2.mfapis.club/api/v2/nav",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "scheme_id",
              "value": "={{ $json.scheme_id }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Fetch Latest NAV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mf-engine-api-cred",
          "name": "MF Engine API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://app2.mfapis.club/api/v2/scheme/{{ $json.scheme_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Fetch Scheme Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mf-engine-api-cred",
          "name": "MF Engine API"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Merge NAV and Details",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1280, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-fund-name",
              "name": "fund_name",
              "value": "={{ $json.scheme_name }}",
              "type": "string"
            },
            {
              "id": "out-amc",
              "name": "amc",
              "value": "={{ $json.amc_name }}",
              "type": "string"
            },
            {
              "id": "out-category",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "out-nav",
              "name": "current_nav",
              "value": "={{ $json[0]?.nav || $json.nav }}",
              "type": "number"
            },
            {
              "id": "out-nav-date",
              "name": "nav_date",
              "value": "={{ $json[0]?.date || $json.date }}",
              "type": "string"
            },
            {
              "id": "out-expense",
              "name": "expense_ratio_pct",
              "value": "={{ $json.expense_ratio }}",
              "type": "number"
            },
            {
              "id": "out-manager",
              "name": "fund_manager",
              "value": "={{ $json.fund_manager }}",
              "type": "string"
            },
            {
              "id": "out-benchmark",
              "name": "benchmark",
              "value": "={{ $json.benchmark }}",
              "type": "string"
            },
            {
              "id": "out-1y",
              "name": "returns_1y_pct",
              "value": "={{ $json.returns_1y }}",
              "type": "number"
            },
            {
              "id": "out-3y",
              "name": "returns_3y_pct",
              "value": "={{ $json.returns_3y }}",
              "type": "number"
            },
            {
              "id": "out-5y",
              "name": "returns_5y_pct",
              "value": "={{ $json.returns_5y }}",
              "type": "number"
            },
            {
              "id": "out-exit",
              "name": "exit_load_policy",
              "value": "={{ $json.exit_load }}",
              "type": "string"
            },
            {
              "id": "out-sip",
              "name": "min_sip_amount",
              "value": "={{ $json.min_sip_amount }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Build Fund Profile",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "err-msg",
              "name": "message",
              "value": "Query parameter 'name' is required. Example: ?name=hdfc+mid+cap",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Error - Missing Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1720, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Search Schemes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Missing Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Schemes": {
      "main": [
        [
          {
            "node": "Extract Top Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Top Result": {
      "main": [
        [
          {
            "node": "Fetch Latest NAV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Scheme Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest NAV": {
      "main": [
        [
          {
            "node": "Merge NAV and Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheme Details": {
      "main": [
        [
          {
            "node": "Merge NAV and Details",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge NAV and Details": {
      "main": [
        [
          {
            "node": "Build Fund Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fund Profile": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Missing Name": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "day1-v1-scheme-explorer",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "workshop-n8n-instance"
  },
  "id": "day1-scheme-explorer",
  "tags": [
    { "createdAt": "2025-07-04T00:00:00.000Z", "updatedAt": "2025-07-04T00:00:00.000Z", "id": "tag-workshop", "name": "workshop" },
    { "createdAt": "2025-07-04T00:00:00.000Z", "updatedAt": "2025-07-04T00:00:00.000Z", "id": "tag-day1", "name": "day1" }
  ]
}
