workflows/day2_cas_parser.json
{
  "name": "Day 2 - CAS PDF Parser",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "fileSelector": "/home/n8n/uploads/sample_cas.pdf",
        "propertyName": "data"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Read CAS PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app2.mfapis.club/api/v2/cas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "password",
              "value": ""
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Parse CAS PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mf-engine-api-cred",
          "name": "MF Engine API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const casData = $input.first().json;\nconst holdings = casData.holdings || [];\n\nconst enrichedHoldings = holdings.map(h => {\n  const absoluteGain = h.current_value - h.purchase_cost;\n  const gainPct = ((absoluteGain / h.purchase_cost) * 100).toFixed(2);\n  return {\n    ...h,\n    absolute_gain: Math.round(absoluteGain * 100) / 100,\n    gain_pct: parseFloat(gainPct),\n    is_profit: absoluteGain >= 0\n  };\n});\n\nconst sortedHoldings = enrichedHoldings.sort((a, b) => b.current_value - a.current_value);\n\nconst byXirr = [...enrichedHoldings].sort((a, b) => b.xirr - a.xirr);\nconst topPerformer = byXirr[0];\nconst bottomPerformer = byXirr[byXirr.length - 1];\n\nconst categoryMap = {};\nenrichedHoldings.forEach(h => {\n  if (!categoryMap[h.category]) categoryMap[h.category] = { value: 0, invested: 0, count: 0 };\n  categoryMap[h.category].value += h.current_value;\n  categoryMap[h.category].invested += h.purchase_cost;\n  categoryMap[h.category].count++;\n});\n\nconst totalValue = casData.summary.current_value;\nconst categoryBreakdown = Object.entries(categoryMap).map(([cat, data]) => ({\n  category: cat,\n  current_value: Math.round(data.value * 100) / 100,\n  invested: Math.round(data.invested * 100) / 100,\n  allocation_pct: Math.round((data.value / totalValue) * 10000) / 100,\n  scheme_count: data.count\n}));\n\nreturn [{\n  json: {\n    investor_name: casData.name,\n    pan: casData.pan,\n    statement_period: casData.statement_period,\n    summary: casData.summary,\n    holdings: sortedHoldings,\n    category_breakdown: categoryBreakdown,\n    top_performer: topPerformer,\n    bottom_performer: bottomPerformer,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Compute Portfolio Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst { investor_name, pan, summary, holdings, category_breakdown, top_performer, bottom_performer } = data;\n\nconst formatCurrency = (n) => '\\u20b9' + (n || 0).toLocaleString('en-IN', { maximumFractionDigits: 2 });\nconst formatPct = (n) => (n || 0).toFixed(2) + '%';\n\nconst holdingsRows = (holdings || []).map(h => `\n  <tr>\n    <td style=\"font-size:12px\">${h.scheme_name}</td>\n    <td>${h.amc_name}</td>\n    <td>${h.category}</td>\n    <td>${(h.units || 0).toFixed(3)}</td>\n    <td>${formatCurrency(h.nav)}</td>\n    <td>${formatCurrency(h.current_value)}</td>\n    <td>${formatCurrency(h.purchase_cost)}</td>\n    <td style=\"color:${h.is_profit ? '#22c55e' : '#ef4444'}\">${formatCurrency(h.absolute_gain)}</td>\n    <td>${formatPct(h.gain_pct)}</td>\n    <td>${formatPct(h.xirr)}</td>\n  </tr>\n`).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Portfolio</title>\n<style>body{font-family:Arial,sans-serif;margin:20px;background:#f9fafb}table{width:100%;border-collapse:collapse;font-size:13px}th{background:#1e3a5f;color:white;padding:10px;text-align:left}td{padding:8px 10px;border-bottom:1px solid #e5e7eb}.stat{display:inline-block;background:white;border-radius:8px;padding:16px;margin:8px;min-width:150px;box-shadow:0 1px 3px rgba(0,0,0,.1)}.stat-label{font-size:11px;color:#6b7280;text-transform:uppercase}.stat-value{font-size:20px;font-weight:bold;margin-top:4px}</style></head>\n<body>\n<h1>Portfolio Report — ${investor_name}</h1>\n<p>PAN: ${pan} | Generated: ${new Date().toLocaleDateString('en-IN')}</p>\n<div>\n  <div class=\"stat\"><div class=\"stat-label\">Invested</div><div class=\"stat-value\">${formatCurrency(summary.total_invested)}</div></div>\n  <div class=\"stat\"><div class=\"stat-label\">Current Value</div><div class=\"stat-value\" style=\"color:#22c55e\">${formatCurrency(summary.current_value)}</div></div>\n  <div class=\"stat\"><div class=\"stat-label\">Overall XIRR</div><div class=\"stat-value\" style=\"color:${summary.overall_xirr>=0?'#22c55e':'#ef4444'}\">${formatPct(summary.overall_xirr)}</div></div>\n  <div class=\"stat\"><div class=\"stat-label\">Schemes</div><div class=\"stat-value\">${summary.total_schemes}</div></div>\n</div>\n<p>Top: <strong>${top_performer?.scheme_name}</strong> (XIRR: ${formatPct(top_performer?.xirr||0)}) | Bottom: <strong>${bottom_performer?.scheme_name}</strong> (XIRR: ${formatPct(bottom_performer?.xirr||0)})</p>\n<h2>Holdings</h2>\n<table><thead><tr><th>Scheme</th><th>AMC</th><th>Category</th><th>Units</th><th>NAV</th><th>Value</th><th>Invested</th><th>Gain</th><th>Return%</th><th>XIRR</th></tr></thead><tbody>${holdingsRows}</tbody></table>\n</body></html>`;\n\nreturn { json: { ...data, html_report: html } };"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "fromEmail": "n8n@yourfirm.com",
        "toEmail": "advisor@yourfirm.com",
        "subject": "=[Review Required] Portfolio CAS parsed for {{ $json.investor_name }} ({{ $json.pan }})",
        "emailType": "html",
        "message": "={{ $json.html_report + '<hr><p>Click to decide:<br><a href=\"' + $execution.resumeUrl + '?action=approve\" style=\"background:#22c55e;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block;margin:8px\">APPROVE</a><a href=\"' + $execution.resumeUrl + '?action=reject\" style=\"background:#ef4444;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block;margin:8px\">REJECT</a></p><p style=\"color:grey;font-size:12px\">Links expire in 24 hours.</p>' }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Email Advisor for Review",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1280, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": 1440,
          "resumeUnit": "minutes"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Wait for Advisor Decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1500, 300],
      "webhookId": "cas-advisor-approval-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Check Advisor Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approved-status",
              "name": "status",
              "value": "approved",
              "type": "string"
            },
            {
              "id": "approved-name",
              "name": "investor_name",
              "value": "={{ $node['Compute Portfolio Summary'].json.investor_name }}",
              "type": "string"
            },
            {
              "id": "approved-pan",
              "name": "pan",
              "value": "={{ $node['Compute Portfolio Summary'].json.pan }}",
              "type": "string"
            },
            {
              "id": "approved-value",
              "name": "current_value",
              "value": "={{ $node['Compute Portfolio Summary'].json.summary.current_value }}",
              "type": "number"
            },
            {
              "id": "approved-xirr",
              "name": "overall_xirr",
              "value": "={{ $node['Compute Portfolio Summary'].json.summary.overall_xirr }}",
              "type": "number"
            },
            {
              "id": "approved-at",
              "name": "approved_at",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Format Approved Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1940, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rejected-status",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "rejected-name",
              "name": "investor_name",
              "value": "={{ $node['Compute Portfolio Summary'].json.investor_name }}",
              "type": "string"
            },
            {
              "id": "rejected-at",
              "name": "rejected_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "rejected-msg",
              "name": "message",
              "value": "Portfolio report rejected by advisor. Not stored.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1940, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CAS PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CAS PDF": {
      "main": [
        [
          {
            "node": "Parse CAS PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CAS PDF": {
      "main": [
        [
          {
            "node": "Compute Portfolio Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Portfolio Summary": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Email Advisor for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Advisor for Review": {
      "main": [
        [
          {
            "node": "Wait for Advisor Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Advisor Decision": {
      "main": [
        [
          {
            "node": "Check Advisor Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Advisor Decision": {
      "main": [
        [
          {
            "node": "Format Approved Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "day2-v1-cas-parser",
  "id": "day2-cas-parser",
  "tags": [
    { "createdAt": "2025-07-04T00:00:00.000Z", "updatedAt": "2025-07-04T00:00:00.000Z", "id": "tag-workshop", "name": "workshop" },
    { "createdAt": "2025-07-04T00:00:00.000Z", "updatedAt": "2025-07-04T00:00:00.000Z", "id": "tag-day2", "name": "day2" }
  ]
}
