extras/subagent_psu_analyst.json
{
  "name": "Subworkflow - PSU Analyst",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "scheme_id"
            },
            {
              "name": "scheme_name"
            },
            {
              "name": "category"
            },
            {
              "name": "aum",
              "type": "number"
            },
            {
              "name": "expense_ratio",
              "type": "number"
            },
            {
              "name": "isin"
            },
            {
              "name": "amc_name"
            },
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "id": "314efc05-d873-44a7-8c9f-278e45a94a28",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { isValid: false, error: \"Empty input payload\" } }];\n}\nconst body = items[0].json;\n\nlet isValid = true;\nlet errorReason = \"\";\n\nconst required = ['scheme_id', 'scheme_name', 'category', 'data'];\nfor (const field of required) {\n  if (body[field] === undefined || body[field] === null) {\n    isValid = false;\n    errorReason = `Missing required field: ${field}`;\n    break;\n  }\n}\n\nif (isValid) {\n  const data = body.data;\n  if (!data.nav_history || !Array.isArray(data.nav_history) || !data.holdings || !Array.isArray(data.holdings) || !data.risk_metrics || typeof data.risk_metrics !== 'object') {\n    isValid = false;\n    errorReason = \"Field 'data' must contain nav_history (array), holdings (array), and risk_metrics (object)\";\n  }\n}\n\nreturn [{\n  json: {\n    ...body,\n    isValid: isValid,\n    error: errorReason\n  }\n}];"
      },
      "id": "1fcf1fbf-19c6-46cd-ad97-cba68d811419",
      "name": "Validate Input Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-schema-valid",
              "leftValue": "={{ $json.isValid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cf9d45a6-b9e7-4850-83d6-1c74729cc84e",
      "name": "If Schema Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = items[0].json;\nconst data = body.data || {};\nconst navHistory = Array.isArray(data.nav_history) ? data.nav_history : [];\n\nfunction parseDate(dStr) {\n  if (!dStr) return null;\n  const parts = String(dStr).split('-');\n  if (parts.length === 3 && parts[0].length === 2 && parts[2].length === 4) {\n    return new Date(parts[2], parts[1] - 1, parts[0]);\n  }\n  return new Date(dStr);\n}\n\nconst historyObj = navHistory.map(item => ({\n  date: parseDate(item.date),\n  nav: parseFloat(item.nav)\n})).filter(item => item.date !== null && !isNaN(item.date.getTime()) && !isNaN(item.nav))\n  .sort((a, b) => a.date - b.date);\n\n// --- CAGR ---\nlet cagr = { cagr_1y: null, cagr_3y: null, cagr_5y: null, cagr_10y: null };\nif (historyObj.length >= 20) {\n  const endPoint = historyObj[historyObj.length - 1];\n  const endNav = endPoint.nav;\n  const endDate = endPoint.date;\n  const calcCAGR = (years) => {\n    const targetTime = endDate.getTime() - (years * 365.25 * 86400000);\n    let closest = historyObj[0];\n    let minDiff = Math.abs(closest.date.getTime() - targetTime);\n    for (let i = 1; i < historyObj.length; i++) {\n      const diff = Math.abs(historyObj[i].date.getTime() - targetTime);\n      if (diff < minDiff) { minDiff = diff; closest = historyObj[i]; }\n    }\n    const diffDays = Math.abs(closest.date.getTime() - targetTime) / 86400000;\n    if (diffDays > 45) return null;\n    const startNav = closest.nav;\n    if (startNav <= 0 || endNav <= 0) return null;\n    const actualYears = (endDate.getTime() - closest.date.getTime()) / (365.25 * 86400000);\n    if (actualYears <= 0.1) return null;\n    return Math.pow(endNav / startNav, 1 / actualYears) - 1;\n  };\n  cagr = { cagr_1y: calcCAGR(1), cagr_3y: calcCAGR(3), cagr_5y: calcCAGR(5), cagr_10y: calcCAGR(10) };\n}\n\n// --- Volatility ---\nlet vol = { annualized_volatility: null, sharpe_ratio: null, max_drawdown: null, total_years_analyzed: null };\nif (historyObj.length >= 5) {\n  const returns = [];\n  for (let i = 1; i < historyObj.length; i++) {\n    const prev = historyObj[i - 1].nav;\n    const curr = historyObj[i].nav;\n    if (prev > 0) returns.push((curr - prev) / prev);\n  }\n  if (returns.length >= 4) {\n    const mean = returns.reduce((a, b) => a + b, 0) / returns.length;\n    const variance = returns.reduce((s, r) => s + Math.pow(r - mean, 2), 0) / (returns.length - 1);\n    const dailyStd = Math.sqrt(variance);\n    const annVol = dailyStd * Math.sqrt(252);\n    const startNav = historyObj[0].nav;\n    const endNav = historyObj[historyObj.length - 1].nav;\n    const startYear = historyObj[0].date.getFullYear() + historyObj[0].date.getMonth() / 12 + historyObj[0].date.getDate() / 365;\n    const endYear = historyObj[historyObj.length - 1].date.getFullYear() + historyObj[historyObj.length - 1].date.getMonth() / 12 + historyObj[historyObj.length - 1].date.getDate() / 365;\n    const totalYears = endYear - startYear;\n    let sharpe = null;\n    if (totalYears > 0.1 && startNav > 0 && endNav > 0 && annVol > 0) {\n      const annReturn = Math.pow(endNav / startNav, 1 / totalYears) - 1;\n      sharpe = (annReturn - 0.065) / annVol;\n    }\n    let peak = -Infinity, maxDD = 0;\n    for (let i = 0; i < historyObj.length; i++) {\n      const nav = historyObj[i].nav;\n      if (nav > peak) peak = nav;\n      const dd = (nav - peak) / peak;\n      if (dd < maxDD) maxDD = dd;\n    }\n    vol = { annualized_volatility: annVol, sharpe_ratio: sharpe, max_drawdown: maxDD, total_years_analyzed: totalYears };\n  }\n}\n\n// --- Trim holdings to top 15 by weight ---\nconst holdings = Array.isArray(data.holdings) ? data.holdings : [];\nconst weightOf = (h) => {\n  const w = h.percentage ?? h.weight ?? h.pct ?? h.holding_pct ?? h.allocation;\n  const n = parseFloat(w);\n  return isNaN(n) ? 0 : n;\n};\nconst topHoldings = holdings.slice().sort((a, b) => weightOf(b) - weightOf(a)).slice(0, 15);\n\nreturn [{\n  json: {\n    ...body,\n    computed_metrics: { cagr, volatility: vol, nav_points: historyObj.length },\n    top_holdings: topHoldings\n  }\n}];"
      },
      "id": "c1a2c3d4-e5f6-7890-abcd-ef1234567891",
      "name": "Precompute Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst errorReason = items[0]?.json?.error || \"Unknown validation error\";\n\nreturn [{\n  json: {\n    success: false,\n    error: errorReason\n  }\n}];"
      },
      "id": "6221acf3-74e5-43aa-9194-da2c149e81cc",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Conduct a PSU fund analysis query for scheme: {{ $json.scheme_name }}",
        "options": {
          "systemMessage": "=You are a specialized PSU (Public Sector Undertaking) Mutual Fund Analyst. Your task is to evaluate thematic PSU equity funds based on data passed in the input.\nYour analysis must cover:\n1. **PSU Mandate & Sector Allocation**: Evaluate if the holdings align with PSU thematic mandates (securities of government-owned enterprises, such as public sector banks, energy/power utilities, defense, railways, etc.).\n2. **Concentration & Policy Risk**: Evaluate government equity share dependency, sector concentrations (e.g. financials vs power/energy), and thematic vulnerability to policy changes, regulatory shifts, or government disinvestment decisions.\n3. **Growth vs Risk**: Analyze risk-adjusted performance using Sharpe Ratio, Beta, Alpha, and Volatility (Standard Deviation) from the input. Explain how these metrics reflect the fund's risk profile relative to the thematic benchmarks. Note the high-dividend profile of public enterprises.\n4. **CAGR & Volatility**: CAGR (1Y, 3Y, 5Y, 10Y) and volatility metrics (annualized volatility, Sharpe ratio, maximum drawdown) have ALREADY been precomputed from the full NAV history and are provided below under 'Computed Metrics'. Use those values directly. Do NOT call any calculator tool and do NOT expect raw NAV history — it is intentionally omitted to keep the request efficient. A null value means that horizon could not be computed from the available data.\n5. **Trade/Reallocation Approval**: If you recommend any reallocation or trade adjustment, you MUST call the tool 'prepare_trade'. Pass the scheme_name, reallocation_pct (e.g. 15 for 15%), and std_dev (use annualized_volatility from Computed Metrics). You must explain in your recommendation whether the trade was approved or rejected by the system.\n\nFormat your output in clean Markdown under clear headings. Be objective, precise, and numerical. Highlight key metrics. Do not invent facts or numbers.\n\nInput Data:\nScheme Name: {{ $json.scheme_name }}\nCategory: {{ $json.category }}\nAUM: {{ $json.aum }} Lakhs\nExpense Ratio: {{ $json.expense_ratio }}%\nTop Holdings (up to 15 by weight): {{ JSON.stringify($json.top_holdings) }}\nRisk Metrics (from input): Sharpe: {{ $json.data.risk_metrics?.sharpe }}, Beta: {{ $json.data.risk_metrics?.beta }}, StdDev: {{ $json.data.risk_metrics?.std_dev }}\nComputed Metrics (precomputed from full NAV history): {{ JSON.stringify($json.computed_metrics) }}",
          "maxIterations": 25
        }
      },
      "id": "46a61752-53f0-4a00-be01-60eb972bf465",
      "name": "PSU Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "id": "ca2a13ab-a638-47dd-9572-6cd7afbe4486",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.scheme_id || 'psu-analyst-session' }}",
        "contextWindowLength": 50
      },
      "id": "619ea68e-a9de-4905-bf76-20357e8c8010",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        848,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "68b0cc90-0190-4a38-a249-d347d9757eb4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        256
      ]
    },
    {
      "parameters": {
        "description": "Calculates Compounded Annual Growth Rate (CAGR) for 1Y, 3Y, 5Y, and 10Y intervals from a provided array of historical NAV data containing date and nav values.",
        "jsCode": "const navHistory = query.nav_history || [];\nif (!Array.isArray(navHistory) || navHistory.length < 2) {\n  return JSON.stringify({ error: \"Insufficient NAV history data. Must have at least 2 points.\" });\n}\n\nfunction parseDate(dStr) {\n  if (!dStr) return null;\n  const parts = dStr.split('-');\n  if (parts.length === 3 && parts[0].length === 2 && parts[2].length === 4) {\n    return new Date(parts[2], parts[1] - 1, parts[0]);\n  }\n  return new Date(dStr);\n}\n\nconst historyObj = navHistory.map(item => {\n  return {\n    date: parseDate(item.date),\n    nav: parseFloat(item.nav)\n  };\n}).filter(item => item.date !== null && !isNaN(item.date.getTime()) && !isNaN(item.nav))\n  .sort((a, b) => a.date - b.date);\n\nif (historyObj.length < 20) {\n  return JSON.stringify({ error: \"Insufficient valid NAV history records. Minimum 20 records required.\" });\n}\n\nconst endPoint = historyObj[historyObj.length - 1];\nconst endNav = endPoint.nav;\nconst endDate = endPoint.date;\n\nfunction calculateCAGRForYears(years) {\n  const targetTime = endDate.getTime() - (years * 365.25 * 24 * 60 * 60 * 1000);\n  let closestItem = historyObj[0];\n  let minDiff = Math.abs(closestItem.date.getTime() - targetTime);\n  \n  for (let i = 1; i < historyObj.length; i++) {\n    const diff = Math.abs(historyObj[i].date.getTime() - targetTime);\n    if (diff < minDiff) {\n      minDiff = diff;\n      closestItem = historyObj[i];\n    }\n  }\n  \n  const diffDays = Math.abs(closestItem.date.getTime() - targetTime) / (1000 * 60 * 60 * 24);\n  if (diffDays > 45) {\n    return null;\n  }\n  \n  const startNav = closestItem.nav;\n  if (startNav <= 0 || endNav <= 0) return null;\n  \n  const actualYears = (endDate.getTime() - closestItem.date.getTime()) / (365.25 * 24 * 60 * 60 * 1000);\n  if (actualYears <= 0.1) return null;\n  \n  const cagr = Math.pow(endNav / startNav, 1 / actualYears) - 1;\n  return cagr;\n}\n\nconst result = {\n  cagr_1y: calculateCAGRForYears(1),\n  cagr_3y: calculateCAGRForYears(3),\n  cagr_5y: calculateCAGRForYears(5),\n  cagr_10y: calculateCAGRForYears(10)\n};\n\nreturn JSON.stringify(result);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"nav_history\": [\n    {\n      \"date\": \"02-07-2026\",\n      \"nav\": 94.234\n    }\n  ]\n}"
      },
      "id": "f8724c43-70da-4b93-971d-4ef2de432c04",
      "name": "cagr_calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "description": "Calculates risk metrics including annualized standard deviation (volatility), Sharpe Ratio (using risk-free rate of 6.5%), and maximum drawdown statistics from historical NAV data.",
        "jsCode": "const navHistory = query.nav_history || [];\nif (!Array.isArray(navHistory) || navHistory.length < 5) {\n  return JSON.stringify({ error: \"Insufficient NAV history data for volatility analysis.\" });\n}\n\nfunction parseDate(dStr) {\n  if (!dStr) return null;\n  const parts = dStr.split('-');\n  if (parts.length === 3 && parts[0].length === 2 && parts[2].length === 4) {\n    return new Date(parts[2], parts[1] - 1, parts[0]);\n  }\n  return new Date(dStr);\n}\n\nconst historyObj = navHistory.map(item => {\n  return {\n    date: parseDate(item.date),\n    nav: parseFloat(item.nav)\n  };\n}).filter(item => item.date !== null && !isNaN(item.date.getTime()) && !isNaN(item.nav))\n  .sort((a, b) => a.date - b.date);\n\nif (historyObj.length < 5) {\n  return JSON.stringify({ error: \"Insufficient valid NAV history data.\" });\n}\n\nconst returns = [];\nfor (let i = 1; i < historyObj.length; i++) {\n  const prevNav = historyObj[i - 1].nav;\n  const currNav = historyObj[i].nav;\n  if (prevNav > 0) {\n    returns.push((currNav - prevNav) / prevNav);\n  }\n}\n\nif (returns.length < 4) {\n  return JSON.stringify({ error: \"Insufficient daily returns.\" });\n}\n\nconst meanReturn = returns.reduce((a, b) => a + b, 0) / returns.length;\nconst variance = returns.reduce((sum, r) => sum + Math.pow(r - meanReturn, 2), 0) / (returns.length - 1);\nconst dailyStdDev = Math.sqrt(variance);\nconst annualizedVolatility = dailyStdDev * Math.sqrt(252);\n\nconst startNav = historyObj[0].nav;\nconst endNav = historyObj[historyObj.length - 1].nav;\nconst startYear = historyObj[0].date.getFullYear() + (historyObj[0].date.getMonth() / 12) + (historyObj[0].date.getDate() / 365);\nconst endYear = historyObj[historyObj.length - 1].date.getFullYear() + (historyObj[historyObj.length - 1].date.getMonth() / 12) + (historyObj[historyObj.length - 1].date.getDate() / 365);\nconst totalYears = endYear - startYear;\n\nlet SharpeRatio = null;\nif (totalYears > 0.1 && startNav > 0 && endNav > 0 && annualizedVolatility > 0) {\n  const annualizedReturn = Math.pow(endNav / startNav, 1 / totalYears) - 1;\n  const riskFreeRate = 0.065;\n  SharpeRatio = (annualizedReturn - riskFreeRate) / annualizedVolatility;\n}\n\nlet peak = -Infinity;\nlet maxDrawdown = 0;\nfor (let i = 0; i < historyObj.length; i++) {\n  const nav = historyObj[i].nav;\n  if (nav > peak) {\n    peak = nav; \n  }\n  const drawdown = (nav - peak) / peak;\n  if (drawdown < maxDrawdown) {\n    maxDrawdown = drawdown;\n  }\n}\n\nconst result = {\n  annualized_volatility: annualizedVolatility,\n  sharpe_ratio: SharpeRatio,\n  max_drawdown: maxDrawdown,\n  total_years_analyzed: totalYears\n};\n\nreturn JSON.stringify(result);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"nav_history\": [\n    {\n      \"date\": \"02-07-2026\",\n      \"nav\": 94.234\n    }\n  ]\n}"
      },
      "id": "56576db7-1d63-4877-8bb1-02e91f33ea02",
      "name": "volatility_calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1088,
        208
      ]
    },
    {
      "parameters": {
        "name": "prepare_trade",
        "description": "Call this tool to stage a proposed mutual fund reallocation trade. You MUST pass the scheme_name, reallocation_pct (numeric value, e.g. 15 for 15%), and std_dev (standard deviation from the volatility calculator). Returns status 'approved' or 'rejected'.",
        "workflowId": {
          "__rl": true,
          "value": "JCtAHp3ZKJotDViX",
          "mode": "id",
          "cachedResultUrl": "/workflow/JCtAHp3ZKJotDViX"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"scheme_name\": \"string\",\n  \"reallocation_pct\": 15,\n  \"std_dev\": 22.5\n}"
      },
      "id": "7df97833-d0d5-4196-8c8e-40262e7a37fe",
      "name": "Workflow - Prepare Trade",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1184,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Schema": {
      "main": [
        [
          {
            "node": "If Schema Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Schema Valid": {
      "main": [
        [
          {
            "node": "Precompute Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precompute Metrics": {
      "main": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "cagr_calculator": {
      "ai_tool": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "volatility_calculator": {
      "ai_tool": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow - Prepare Trade": {
      "ai_tool": [
        [
          {
            "node": "PSU Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PSU Analyst Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "V9VilKSmk8vDYEMc",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6037a283-b3c3-4a4d-9287-a386fe9f2e92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "727532e30984c5e2bf6dd57cbce46198766a1969174f8ec5cee6b37f07aed994"
  },
  "nodeGroups": [],
  "id": "dF2tExd2Y7HSu5Fm",
  "tags": []
}